{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- Slider Area Start-->
<div class="services-area">
    <div class="container">
        <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
             
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End-->

<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">
        <div class="col-12 text-center">
            <div class="col-12">
                <h2 class="contact-title">Create Password Now</h2>
            </div>

            <div class="col-12 text-center">
                {% if messages %}

                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}
          
            {% endif %}
                <form class="text-center" method="POST">
                    {% csrf_token %}
                    <div class="text-center">
                       
                            <div class="form-group">
                                <input class="form-control valid" name="new_password" id="email" type="password"
                                    placeholder="Create Password">
                            </div>
                  

              
                            <div class="form-group">
                                <input class="form-control valid" name="reconfirm_password" id="password" type="password"
                                    placeholder="Confirm Password">
                            </div>
                            <input type="hidden" name="user_id" value="{{user_id}}">

                      
                    </div>
                  

                        <div class="form-group mt-3">
                         
                            <button type="submit" class="button button-contactForm boxed-btn">Reset</button>
                           
                    
                  

                        </div>

                    
                  
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->
{% endblock %}