{% extends 'base.html' %} {% load static %}

    {% block title %}{{property.house}} {{property.street}} Complains | {% endblock %}
    {% block canonical %}/complaints-by-property/{{property.id}}{% endblock %}

{% block content %} <style>
    .for-border {
        border: none;
        border-bottom: 2px solid grey;
    }
</style>
<div class="container text-center" style="color: #2b044d;">
    <br><br>
    <br><br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}" style="color: #8f1bdc;">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'complaints' %}"
                    style="color: #8f1bdc;">Complaints</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{property.house}} {{property.street}} </li>
        </ol>
    </nav>
    <br>
    <br><br>
    <!-- <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <a style="text-decoration: underline; color: #8f1bdc; cursor: pointer;" class="btn-link collapsed"
                        type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo"> Complaints <span style="color: #2b044d;"> ({{
                            complaints.all.count}}) </span>
                    </a>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body"> -->
    <h2 style="color: #2b044d;">
        {{ complaints.all.count}} Complaints for {{property.street}} {{property.house}}
    </h2>
    <hr>
    <div class="accordion text-center" id="accordionExamplecomplaints"> {% for i in complaints %} <div
            class="row text-center mx-auto" style="min-width: 100%;">
            <div class="card text-center max-auto" style="min-width: 100%;">
                <div class=" card-header" id="headingTwo{{i.id}}">
                    <h5 class="mb-0">
                        <a style="text-decoration: underline; color: #8f1bdc; cursor: pointer;"
                            class="btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo{{i.id}}" aria-expanded="false"
                            aria-controls="collapseTwo{{i.id}}"> Complaint Number: {{ i.complaint_number }}
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo{{i.id}}" class="collapse" aria-labelledby="headingTwo{{i.id}}"
                    data-parent="#accordionExamplecomplaints">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table style=" color: #8f1bdc;" class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Number</th>
                                        <th scope="col">Date Entered</th>
                                        <th scope="col">Category</th>
                                        <!-- <th scope="col">Status</th> -->
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a style="color: #8f1bdc;" href="{{i.link}}" target="_blank"
                                                rel="noopener noreferrer">
                                                {{ i.complaint_number }}</a>
                                        </td>
                                        <td>{{ i.date_entered }}</td>
                                        <td>{{ i.complaint_category }}</td>
                                        <!-- <td>{{ i.status }}</td> -->
                                        <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModalLong{{i.id}}1">Details</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="5">{{ i.complaint_details }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalLong{{i.id}}1" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 75% !important;" role="document">
                <div class="modal-content" style="min-width: 35% !important;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>{{i.property.house}} {{i.property.street}}, {{i.property.borough}}</h3>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>Complaint Number:</strong> {{i.complaint_number}}
                            </div>
                            <div class="col-md-4">
                                <strong>Date Entered: </strong> {{i.date_entered}}
                            </div>
                            <div class="col-md-4">
                                <strong> Unit: </strong>{{i.unit}}
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <strong> Inspection Date:</strong> {{i.inspection_date}}
                            </div>
                            <div class="col-md-4">
                                <strong> Disposition Date: </strong>{{i.disposition_date}}
                            </div>
                            <div class="col-md-4">
                                <strong>Status:</strong> {{i.status}}
                            </div>
                        </div>
                        <hr><br>
                        <div class="row">
                            <div class="col-md-8">
                                <strong> Complaint Category:</strong> {{i.complaint_category}}
                            </div>
                            <div class="col-md-4">
                                <strong> Community Board:</strong> {{i.community_board}}
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-md-8">
                                <strong>Disposition Code:</strong> {{i.disposition_code}}
                            </div>
                            <div class="col-md-3">
                                <strong>See it on DOB BIS:</strong> <a style="color: #8f1bdc;" target="_blank"
                                    href="{{i.link}}"> Click Here </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> {% endfor %}
    </div>
    <!-- </div>
</div>
</div> -->
    <br><br>
    <hr><br><br>
    <!-- <div class="card">
            <div class="card-header" id="headingThree">

                <h5 class="mb-0">
                    <a style="text-decoration: underline; color: #8f1bdc; cursor: pointer;" class="btn-link collapsed"
                        type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        Resolved Complaints <span style="color: #2b044d;"> ({{ res_complaints.all.count}})
                        </span>

                    </a>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="accordion text-center" id="accordionExamplerescomplaints">


                        {% for i in res_complaints %}

                        <div class="row text-center mx-auto" style="min-width: 100%;">
                            <div class="card text-center max-auto" style="min-width: 100%;">
                                <div class="card-header" id="headingThree{{i.id}}">
                                    <h5 class="mb-0">
                                        <a style="text-decoration: underline; color: #8f1bdc; cursor: pointer;"
                                            class="btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseThree{{i.id}}" aria-expanded="false"
                                            aria-controls="collapseThree{{i.id}}">
                                            Complaint Number: {{ i.complaint_number }}

                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree{{i.id}}" class="collapse" aria-labelledby="headingThree{{i.id}}"
                                    data-parent="#accordionExamplerescomplaints">
                                    <div class="card-body">

                                        <div class="table-responsive">
                                            <table style=" color: #8f1bdc;" class="table table-borderless">
                                              <thead>
                                                    <tr>
                                                        <th scope="col">Number</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Category</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td>{{ i.complaint_number }}</td>
                                                        <td>{{ i.date_entered }}</td>
                                                        <td>{{ i.complaint_category }}</td>
                                                        <td>{{ i.status }}</td>
                                                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong{{i.id}}1">Details</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" colspan="5">{{ i.complaint_details }}</td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModalLong{{i.id}}1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" style="max-width: 75% !important;" role="document">
                            <div class="modal-content" style="min-width: 35% !important;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                                <div class="modal-body">
                                        <h3>Complaint Number:</strong> {{i.complaint_number}}</h3>
                        <hr>
                        <br>
                                        <div class="row">
                                            <div class="col-md-4">
                                        
                                        
                                                <strong>Complaint Number:</strong> {{i.complaint_number}}</div>

                                                <div class="col-md-4">
                                                    <strong>Date Entered: </strong> {{i.date_entered}}
                                                </div>     
                                                
                                                
                                                <div class="col-md-4">
                                            <strong> Unit: </strong>{{i.unit}}
                                            </div>         
                                            </div>
                                                <hr>
                                                <br>
                                        
                                                
                                                                <div class="row">
                                            <div class="col-md-4">
                                            <strong> Inspection Date:</strong> {{i.inspection_date}}
                                            </div>

                                            <div class="col-md-4">
                                            <strong> Disposition Date: </strong>{{i.disposition_date}}
                                            </div>      

                                            <div class="col-md-4">
                                            <strong>Status:</strong>  {{i.status}}
                                            </div>           
                                        </div>
                                        <hr><br>

                                        <div class="row">
                                                    <div class="col-md-8">
                                                    <strong> Complaint Category:</strong> {{i.complaint_category}}
                                                    </div>
                                
                                                    <div class="col-md-4">
                                                    <strong> Community Board:</strong> {{i.community_board}}
                                                    </div>                 
                                                </div>
                                                                <hr>
                                                        <br>
                                                
                                                <div class="row">
                                                    <div class="col-md-8">
                                                    <strong>Disposition Code:</strong> {{i.disposition_code}}
                                                    </div>      
                                                </div>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            
                            </div>
                            </div>
                        </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div> -->
</div>
</div>
<br>
<br>
<br><br> {% endblock %}