{% extends 'base.html' %}
{% load static %}

    {% block title %}Contact Us | {% endblock %}
    {% block description %}  Contact Us for More Information on 311 Alert and HPD Online Real-Time Notifications - Connect with Us to Register and Start Receiving Instant Updates for Your Properties{% endblock %}

    {% block canonical %}/contact-us{% endblock %}


{% block content %}

<style>
    .contact-sect{
        /* margin-top: 140px; */
        margin-bottom: 140px;
        background-image: url("{% static 'assets/img/index.jpeg' %}");
        background-size: cover;
    }
    .contact-sect > .container{
        height: inherit;
        min-width: 100%;
        background-color: #faf8fc88;
    }

    .contact-row{
        width: 60%; margin: auto;
    }
    @media (max-width:767px){
        
    .contact-row{
        width: 90%; margin: auto;
    }
    }
.purple-line{
    width: 105px; 
    background-color: #8f1bdc; 
    min-height: 3px;
}


  @media(max-width:767px){
   

    .purple-line{
    width: 80%; 
    background-color: #8f1bdc; 
    min-height: 3px;
    margin-left: auto;
    margin-right: auto;
}
}



</style>
<!-- ================ contact section start ================= -->


    <section class="contact-sect mt-30">
        <div class="container text-center">
 <div class="row d-flex text-center align-items-center justify-content-center" style="flex-direction: column; text-align: center; align-items: center;">
        <div>
            
            <br><br>
            <br><br>
            <p style="color: #8f1bdc;">Contact Us</p>
            <h1 style="font-weight: bold;">General Query</h1>
            <br>
            <p>If you have a general query about our services you can simply fill the form below.<br> If you have any problem regarding to your account you can create a ticket by <a href="{% url 'ticket' %}" style="color: #8f1bdc; text-decoration: underline; font-style: italic;">clicking here</a>.</p>
        </div>
        <div class="purple-line"></div>
        <br><br>
    </div>
            <form class="form-contact contact_form" action="{% url 'contact_process' %}" method="post">
            
                {% csrf_token %}
                <br>
                <br><br>

                <div class="row contact-row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <input style="min-width: 90%; width: 100%; box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
border: none; border-radius: 30px; padding: 10px; text-align: center;" class="" name="name" id="name" type="text" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input style="min-width: 90%; width: 100%; box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
border: none; border-radius: 30px; padding: 10px; text-align: center;" class="" name="email" id="email" type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-lg-12">
<div class="form-group">
                        <input style="min-width: 90%; width: 100%; box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
border: none; border-radius: 30px; padding: 10px; text-align: center;" name="subject" id="subject" type="text" placeholder="Subject">
                       </div>

                        <br>

                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <textarea style="min-width: 90%; width: 100%; box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.2);
border: none; border-radius: 30px; padding: 10px; text-align: center;" class=" w-100" name="message" id="message" cols="30" rows="9"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn radius-btn" style="min-width: 30%;">SEND</button>
                    <br>
                    <br>
                </div>
            </form>

        </div>

    </section>


    
    <div class="mobile-apps">

        <div class="container text-center">
        
            <div class="row">
                <div class="col-md-6 " style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
                    
                    <p style="color: #8f1bdc;">You can download 311alert from app store and google play</p>
                    
                    <h3 style="color: black; font-weight: bold;">Download Now</h3>
                    <div class="purple-line"></div>
                    
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-left: auto;">
                    <a href="#" class="app-btn1">
                        <img src="{% static 'assets/img/shape/app_btn1.png' %}" alt="">
                    </a>

                    <a href="#" class="app-btn2"><img src="{% static 'assets/img/shape/app_btn2.svg' %}" alt=""></a>
                </div>
            </div>

        </div>
    </div>


<br>
<br>
<br>
<br>
<br><br>
<!-- ================ contact section end ================= -->
{% endblock %}