{% extends 'base.html' %}
{% load static %}


    {% block title %}HPD Data | {% endblock %}
    {% block canonical %}/hpd-data{% endblock %}


{% block content %}



<style>
    .divformargin {
        margin-top: 170px;
    }

    @media screen and (max-width:767px) {



        .divformargin {
            margin-top: 0px;
        }
    }
</style>
<hr><br>
<div class="container">
        <nav aria-label="breadcrumb">
         {% if messages %}
          {% for message in messages %}
            <div class=" alert alert-info">
                {{ message }}
            </div>
          {% endfor %}
          {% endif %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}" style="color: #8f1bdc;">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">HPD data</li>
        </ol>
    </nav>
</div>

<br>
<br>
<div class="container">


    <div class="row" style="display: flex; flex-direction: row; justify-content: space-around;">

        <div class="col-md-4">
            <a href="{% url 'hpd_violations' %}">

                <div class="text-center">
                    <img height="" width="90px" src="{% static 'assets/img/accounticos/hpdViolations.png' %}" alt="">

                    <br>

                    <br>

                    <h5 class="text-center" style="font-weight: bold;">violations</h5>

                    <br>
                    <br>
                    <br>
                </div>

            </a>
        </div>

        <div class="col-md-4">

            <a href="{% url 'hpd_complaints' %}">

                <div class="text-center">
                    <img height="" width="90px" src="{% static 'assets/img/accounticos/hpdComplaints.png' %}" alt="">

                    <br>
                    <br>


                    <h5 class="text-center" style="font-weight: bold;">Complaints</h5>
                    <br>
                    <br>
                    <br>

                </div>
            </a>
        </div>


        <div class="col-md-4">
            <a href="{% url 'hpd_litigations' %}">

                <div class="text-center">
                    <img height="" width="90px" src="{% static 'assets/img/accounticos/litigation.png' %}" alt="">

                    <br>
                    <br>


                    <h5 class="text-center" style="font-weight: bold;">Litigations</h5>
                    <br>
                    <br>
                    <br>

                </div>
            </a>
        </div>


        <div class="col-md-4">
           <a href="{% url 'hpd_charges' %}">

                <div class="text-center">
                    <img height="" width="90px" src="{% static 'assets/img/accounticos/charges.png' %}" alt="">

                    <br>
                    <br>


                    <h5 class="text-center" style="font-weight: bold;">Charges</h5>
                    <br>
                    <br>
                    <br>

                </div>
            </a>
        </div>

        <div class="col-md-4">

           <a href="{% url 'hpd_repairs' %}">

                <div class="text-center">
                    <img height="" width="90px" src="{% static 'assets/img/accounticos/repair.png' %}" alt="">

                    <br>
                    <br>


                    <h5 class="text-center" style="font-weight: bold;">Repair/Vacate Orders</h5>
                    <br>
                    <br>
                    <br>

                </div>
            </a>
        </div>

        <div class="col-md-4">

           <a href="{% url 'hpd_bedbug' %}">

                <div class="text-center">
                    <img height="" width="90px" src="{% static 'assets/img/accounticos/bedbug.png' %}" alt="">

                    <br>
                    <br>


                    <h5 class="text-center" style="font-weight: bold;">Bed Bug Reports</h5>
                    <br>
                    <br>
                    <br>

                </div>
            </a>
        </div>

    </div>

</div>


  <div class="mobile-apps">

        <div class="container text-center">
        
            <div class="row">
                <div class="col-md-6 " style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
                    
                    <p style="color: #8f1bdc;">You can download 311alert from app store and google play</p>
                    
                    <h3 style="color: black; font-weight: bold;">Download Now</h3>
                    <div class="purple-line"></div>
                    
                </div>
                <div class="col-md-6" style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-left: auto;">
                    <a href="#" class="app-btn1">
                        <img src="{% static 'assets/img/shape/app_btn1.png' %}" alt="">
                    </a>

                    <a href="#" class="app-btn2"><img src="{% static 'assets/img/shape/app_btn2.svg' %}" alt=""></a>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Available App End-->

<!-- Say Something Start -->
<div class="say-something-aera pt-90 pb-90 fix">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="offset-xl-1 offset-lg-1 col-xl-5 col-lg-5">
                <div class="say-something-cap">
                    <h2>Say Hello To The Collaboration Hub.</h2>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3">
                <div class="say-btn">
                    <a href="{% url 'contact' %}" class="btn radius-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- shape -->
    <div class="say-shape">
        <img src="{% static 'assets/img/shape/say-shape-left.png' %}" alt=""
            class="say-shape1 rotateme d-none d-xl-block">
        <img src="{% static 'assets/img/shape/say-shape-right.pn' %}" alt="" class="say-shape2 d-none d-lg-block">
    </div>
</div>
<!-- Say Something End -->




{% endblock %}