{% extends 'base.html' %} {% load static %}

    {% block title %}HPD Litigations | {% endblock %}
    {% block canonical %}/hpd-litigations-by-property/{{property.id}}{% endblock %}

{% block content %} <style>
    .for-border {
        border: none;
        border-bottom: 2px solid grey;
    }
</style>
<div class="container text-center" style="color: #2b044d;">
    <br><br>
    <br><br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
             {% if messages %}
          {% for message in messages %}
            <div class=" alert alert-info">
                {{ message }}
            </div>
          {% endfor %}
          {% endif %}
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home' %}" style="color: #8f1bdc;">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'hpd_litigations' %}"
                    style="color: #8f1bdc;">HPD Litigations</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{property.house}} {{property.street}} </li>
        </ol>
    </nav>
    <br>
    <br><br>
    
    <h2 style="color: #2b044d;">{{ property.hpd_litigations.all.count}} HPD Litigations for {{property.street}} {{property.house}}</h2>
    <hr>
    <div class="accordion text-center" id="accordionExamplecomplaints"> {% for i in litigations %} 
        <div class="row text-center mx-auto" style="min-width: 100%;">
            <div class="card text-center max-auto" style="min-width: 100%;">
                <div class=" card-header" id="headingTwo{{i.id}}">
                    <h5 class="mb-0">
                        <a style="text-decoration: underline; color: #8f1bdc; cursor: pointer;"
                            class="btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo{{i.id}}" aria-expanded="false"
                            aria-controls="collapseTwo{{i.id}}"> Litigation ID: {{ i.litigationid }}
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo{{i.id}}" class="collapse" aria-labelledby="headingTwo{{i.id}}"
                    data-parent="#accordionExamplecomplaints">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table style=" color: #8f1bdc;" class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Case Type</th>
                                        <th scope="col">Case Open Date</th>
                                        <th scope="col">Case Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ i.casetype }}</td>
                                        <td>{{ i.caseopendate }}</td>
                                        <td>{{ i.casestatus }}</td>
                                        <!-- <td>{{ i.status }}</td> -->
                                        <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModalLong{{i.id}}1">Details</button>
                                        </td>
                                    </tr>
                           
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalLong{{i.id}}1" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 75% !important;" role="document">
                <div class="modal-content" style="min-width: 35% !important;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>{{i.property.house}} {{i.property.street}}, {{i.property.borough}}</h3>
                        <hr>
                        <br>
                        <div class="row">
                             <div class="col-md-3">
                                <strong> Case Type: </strong>{{ i.casetype }}
                            </div>
                            <div class="col-md-3">
                                <strong>Case Open Date:</strong> {{ i.caseopendate }}
                            </div>
                            <div class="col-md-3">
                                <strong>Case Status: </strong> {{ i.casestatus }}
                            </div>
                             <div class="col-md-3">
                                <strong>Case Judgement: </strong>{{ i.casejudgement }}
                            </div>
                           
                        </div>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <strong> Community District:</strong> {{i.community_district}}
                            </div>
                            <div class="col-md-4">
                                <strong> Council District: </strong>{{i.council_district}}
                            </div>
                            <div class="col-md-4">
                                <strong>Census Tract:</strong> {{i.census_tract}}
                            </div>

                        </div>
                        <hr><br>
                        <div class="row">

                            <div class="col-md-2">
                                <strong> NTA:</strong> {{i.nta}}
                            </div>

                            <div class="col-md-10">
                                <strong>Respondent:</strong> {{i.respondent }}
                            </div>

                           

                            

                        </div>
                      
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> {% endfor %}
    </div>
    <!-- </div>
</div>
</div> -->
    <br><br>
    <hr><br><br>
   
</div>
</div>
<br>
<br>
<br><br>
{% endblock %}
