{% extends 'base.html' %}
{% load static %}

    {% block title %} Properties | {% endblock %}
    {% block canonical %}/user-properties{% endblock %}



{% block content %}



<style>
    .modal.modal-fullscreen .modal-dialog {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        max-width: none;
    }

    .modal.modal-fullscreen .modal-content {
        height: auto;
        height: 100vh;
        border-radius: 0;
        border: none;
    }

    .modal.modal-fullscreen .modal-body {
        overflow-y: auto;
    }


    .batn {
        background-color: #8f1bdc;
        padding: 2px 20px;
        border-radius: 5px;
        border: 5px solid #8f1bdc;
    }

    .add-contacts {
        margin-left: 18%;
    }

    .contact-details {
        border: none;
        border-radius: 5px;
        margin: 2px;
    }


    .contact-details-last {
        border: none;
        border-radius: 5px;
        margin: 2px;
    }

    .labled {
        font-weight: bold;
    }

    .close {
        margin-right: 20px !important;
        color: #8f1bdc;
    }

    .btn {
        margin-right: 40px !important;
        padding: 15px 20px 15px 20px;
    }
</style>


<div class="container text-center" style="color: #2b044d; min-width: 100%;">

    <br>
    <br><br>
    <br>



    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'home' %}"
                    style="color: #8f1bdc;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Properties</li>
        </ol>
    </nav>




{% if limit_reached %}
<script>
  window.addEventListener('DOMContentLoaded', function() {
    var modal = document.getElementById('exampleModal');
    var modalTrigger = document.querySelector('[data-target="#exampleModal"]');

    modalTrigger.click();
  });
</script>
<!-- Button trigger modal -->
<button type="button" style="display: none;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reached Limit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>You have reached to the limit of adding properties</h5>
        <h5>But you can increase the limit of your account</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="{% url 'update_subscription' %}" class="btn btn-primary">Increase Limit</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

    <br><br><br><br>
    <h1 style="text-align:center;">Your Current Properties </h1>
    <br><br><br><br>


    <div class="row" style=" height: max-content;">


        {% if properties %}
        <div class="table-responsive">
            <table style=" color: #8f1bdc;" class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Borough</th>
                        <th scope="col">House Number</th>
                        <th scope="col">Street Name</th>
                        <th scope="col">Property Name</th>
                        <th scope="col">BIN</th>
                        <th scope="col">Action</th>
                        <th scope="col">Open</th>


                    </tr>
                </thead>
                <tbody>
                    {% for pro in properties %}
                    <tr>
                        <td>{{ pro.borough }}</td>
                        <td>{{ pro.house }}</td>
                        <td>{{ pro.street }}</td>
                        <td>{{ pro.property_name }}</td>
                        <td>{{ pro.bin_number }}</td>


                        <td><a href="{% url 'edit_property_page' pro.id %}" type="button"
                                style="color: #8f1bdc; padding: 3px 15px; border-radius: 5px;"><i
                                    class="far fa-1x fa-edit"></i></a>

                            <a href="{% url 'delete_street_property' pro.id %}" type="button"
                                style="color: #8f1bdc; padding: 3px 15px; border-radius: 5px;"><i
                                    class="far fa-1x fa-trash-alt"></i></a>
                        </td>
                        <td><a href="{% url 'property_details' pro.id %}" type="button"
                                style="background-color: #8f1bdc; padding: 3px 15px; border-radius: 5px;">
                                Open</a>
                        </td>

                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% endif %}

    </div>

</div>
<br>
<br>
<br><br>
{% endblock %}