{% extends 'base.html' %}
{% load static %}


{% block content %}

<br>
<br>




<div style="padding-top: 60px; height: 100%;" class="available-app-area mt-50">

    <div class="container text-center">
        <h4 style="text-align: center; font-weight: bold; margin-top: 0%; padding-top: 0%;" class="display-4">Your
            Payment Was Successfull</h4>
        <p>You can now access our services</p>
        <p class="text-muted">Some time the process may take upto 4 hours</p>
        <br>
        <br>
        <br>
        <br>
        <a href="{% url 'home' %}" class="btn  card-btn1">Home</a>

    </div>

</div>



{% endblock %}